.header {
  border-bottom: 1px solid var(--border-color);
  height: 43px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  gap: 20px;
}
.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.navlinks{
  display: flex;
  height: 100%;
  gap: 20px;
}

.link{
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 4px;
}
.active{
  color: white;
  border-bottom: 2px solid white;
}